@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600&family=Patrick+Hand&display=swap');

:root{
    --color-light: #FFFFFFC8;
    --color-light-subdued: #FFFFFF64;
    --color-dark: #2A363B;
    --color-dark-transparent: #2A363BC8;
    --color-accent: #FF847C;
    --color-accent-dark: #E84A5F;
    --color-link: #FECEA8;
    --color-visited: #E84A5F;

    --rounded-big: 1rem;
    --rounded-small: .3rem;

    color: var(--color-light);
    background-color: var(--color-dark-transparent);
    font-family: Dosis,-apple-system, BlinkMacSystemFont, "Segoe UI",Roboto, Oxygen-Sans, Ubuntu, Cantarell,"Helvetica Neue", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    padding: 3rem;
    background-color: var(--color-dark);
    width: fit-content;
    border-radius: var(--rounded-big);
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

label {
    color: var(--color-accent);
}

select {
    background-color: var(--color-light);
    color: var(--color-dark);
    padding: 5px;
    border: none;
    border-radius: var(--rounded-small);
}

option.inactive {
    display: none;
}